<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymgc.qsh.mapper.UserMapper">

    <resultMap id="BaseMap" type="com.ymgc.qsh.entity.User">

        <result column="id" property="id"  jdbcType="VARCHAR"/>
        <result column="userName" property="user_name"  jdbcType="VARCHAR"/>
        <result column="userPassword" property="user_password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserInfo" resultMap="BaseMap">
        select * from user
    </select>

</mapper>